<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">
  <div class="card" style="width: 100%;">
    <img class="card-img-top p-1 rounded" src="assets/img/anupam-mahapatra-Vz0RbclzG_w-unsplash.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Looking for trainer?</h5>
      <p class="card-text">One stop fitness solution from certified personal trainer to dietitian at Home</p>
      <a href="#" class="btn btn-lg btn-block btn-primary" routerLink="/appt">Get trainer now!</a>
    </div>
  </div>
</div>
